.nav-bar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #B4D8E7;
    float: none;
    display:inline-block;
    color:Black;
    text-align: center;
    vertical-align:middle;
    line height:60px;
    padding: 15px 158px;
    font-family: "Arial Black", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    top: 15px;
    text-decoration: none;

}

.active {
background-color:#808080;
}

body {
  color: black;
  text-align: center;
}
.idea-box {
  background-color: white;
  padding: 20px;
}
.idea-submit{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  input[type=submit] {
      width: 100%;
      background-color: white;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      border:2px solid #008CBA;
  }

  input[type=submit]:hover {
      background-color:#008CBA;
      color:white;
}
.idea-text{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  input[type=text] {
      width: 100%;
      background-color: white;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: text;
      box-sizing: border-box;
      border:2px solid #008CBA;
  }

h1 {
  text-align: center;
  color:  #1c344a;
  font-family: "Tangerine", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  color: black;
  margin: 10px;
  padding: 10px;
  border: 2px solid #008CBA;
  border-radius: 5px;
  text-align: left;
  font-size: 16px;
}
h3 {
  text-align: left;
}
.time {
  color: black;
}
img {
  max-width: 50%;
  max-height: 50%;
}
.postId {
    display: none;
}

h2:hover {
    background-color:#f2f2f2;
}
p {
  font-size: 35px;
  border-color: black;
}
