.nav-bar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #1c344a;
    float: none;
    display:inline-block;
    color:White;
    text-align: center;
    vertical-align:middle;
    line height:60px;
    padding: 15px 158px;
    font-family: "Arial Black", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16
    px;
    top: 15px;
    text-decoration: none;
}

.active {
background-color:#000000;
}

body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
